.glass-background {
    background-color: #101624;
    background-image:
        radial-gradient(at 47% 33%, hsl(234.08, 72%, 42%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(218.71, 42%, 14.000000000000002%) 0, transparent 55%);
}

.glass-card {
    backdrop-filter: blur(16px) saturate(175%);
    -webkit-backdrop-filter: blur(16px) saturate(175%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/* https://uiverse.io/satyamchaudharydev/quick-chicken-50 */